 @font-face {
   font-family: 'Roboto-Regular';
   src: url(../fonts/Roboto-Regular.ttf);
 }

 @font-face {
   font-family: 'Roboto-Bold';
   src: url(../fonts/Roboto-Bold.ttf);
 }

 @keyframes rotation {
   0% {
     transform: rotateY(0deg);
   }

   50% {
     transform: rotateY(180deg);
   }

   100% {
     transform: rotateY(360deg);
   }
 }

 .rotation:hover {
   animation: rotation 2s linear 1 alternate both;
 }

 * {
   font-family: 'Roboto-Regular';
 }

 .link-opacity:hover {
   opacity: 0.5;
   transition: opacity 1s;
 }

 .page {
   min-width: 1100px;
   max-width: 1600px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
 }

 .header {
   background-color: #1B2944;

 }

 .header-items {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 75%;
   width: 100%;
   margin: 41px auto 0 auto;
 }

 .logo {
   width: 100px;
   height: 28px;
 }

 .logo:hover {
   transform: scale(1.1);
 }

 .social-icon {
   display: flex;
   gap: 20px;
 }

 .social-icon__item {
   list-style-type: none;
 }

 .social-icon__image {
   height: 20px;
   width: 20px;
 }

 .hero {
   background-color: #1B2944;
 }

 .hero-content {
   display: flex;
   flex-direction: column;
   max-width: 75%;
   width: 100%;
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
 }

 .hero-content__image {
   position: absolute;
   top: 117px;
   right: 0;
   height: 362px;
   width: 362px;
   border: 11px solid #fff;
   border-radius: 50%;
   object-fit: cover;
 }

 .hero-content__profession {
   color: #FFBB01;
   font-size: 24px;
   line-height: 28px;
   font-weight: 400;
   margin: 150px 0 0 0;
 }

 .hero-content__title {
   color: #fff;
   font-family: 'Roboto-Bold';
   font-size: 50px;
   line-height: 59px;
   margin: 13px 0 0 0;
 }

 .hero-content__text {
   color: #fff;
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
   max-width: 50%;
   margin: 20px 0 0 0;
 }

 .hero-content__button {
   background-color: #FFBB01;
   height: 66px;
   width: 300px;
   border: 1px solid #FFBB01;
   border-radius: 5px;
   font-family: 'Roboto-Bold';
   font-size: 12px;
   line-height: 16px;
   text-transform: uppercase;

   margin-top: 38px;
   margin-bottom: 108px;

 }

 .hero-content__button:hover {
   box-shadow: 0 4px 2px #B68500;

 }

 .features {
   background-color: #141F35;
   display: flex;
   flex-direction: column;

 }
.features-items {
  max-width: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 64px auto 0 auto;
}
 .section__title {
   color: #fff;
   font-family: 'Roboto-Bold';
   font-size: 36px;
   line-height: 42px;
 }

 .features-cards {
   display: flex;
   flex-wrap: wrap;
   column-gap: 16px;
   row-gap: 72px;
   margin: 80px auto 92px auto;
 }

 .features-cards__item {
   width: 304px;
   height: 206px;
 }

 .features-cards__logo {
   height: 51px;
   width: 52px;
 }

 .features-cards__title {
   color: #fff;
   font-size: 24px;
   line-height: 28px;
   font-weight: 700;
   text-align: left;
 }

 .features-cards__text {
   color: #fff;
   font-size: 16px;
   line-height: 28px;
   font-weight: 400;
 }
 .portfolio {
  background-color: #1B2944;
 }
 .porfolio-items {
  display:flex;
  flex-direction: column;
  max-width: 75%;
  width: 100%;
  margin: 64px auto 64px auto;
 }
 .portfolio-cards {
  display: flex;
  gap: 16px;
  
 }
 .portfolio-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(to top, #213E60, rgba(196, 196, 196, 0)), 
  url('../image/portfolio1.png');
  background-size: cover;
  height: 304px;
  width: 304px;
  border-radius: 5px;
  justify-content: flex-end;
  }
  .portfolio-card:nth-child(2) {
    background-image: linear-gradient(to top, #213E60, rgba(196, 196, 196, 0)), 
    url('../image/portfolio2.png');
  }
  .portfolio-card:nth-child(3) {
    background-image: linear-gradient(to top, #213E60, rgba(196, 196, 196, 0)), 
    url('../image/portfolio3.png');
  }
 .portfolio-card__title {
  color: #fff;
  font-family: 'Roboto-Bold';
  font-size: 18px;
  line-height: 28px; 
  margin-left: 30px;
  margin-bottom: 76px;
  width: 170px;
     }

   .portfolio-card__button {
    height: 36px;
    width: 200px;
    color: #fff;
    background-color: #EC1F46;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto-Bold';
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    bottom: 28px;
    left: 30px;
   }
   .portfolio-card__button:hover {
    box-shadow: 0 4px 2px #EC1F46;
   }